.awardContainer{
    display: flex;
    /* background: linear-gradient(rgb(130, 180, 226),#162938); */
    background: #396cf0;
    margin: 0;
}

.awardRow{
    display: flex;
    height:300px;
}

.wording{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-left: 80px;
    color: white;
    font-weight: 200;
    display: flex;
    align-items: center;
}

.allImg{
    position: absolute;
    top:170.9%;
    left:108%;
}

.awardbgImg{
    background: url('../images/brand-bg1.png');
    background-position: center center, left bottom;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: absolute;
    right: 240px;
    /* opacity: 0.2; */
}

.awardImg1{
    background:url('../images/brand1.png') no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    /* margin: 30px;    */
    margin-right: 30px;
    position: absolute;
    top:90px;
    right:440px;
}

.awardImg2{
    background: url('../images/brand2.png') no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    position: absolute;
    top:90px;
    right:310px;
}

.awardImg3{
    background: url('../images/brand3.png') no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    position: absolute;
    top:90px;
    right:180px;
}